<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Electronic Music 4 Ever</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Electronic Music 4 Ever">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= render :partial => "shared/partial_header" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
